.button {
  background-color: black;
  border: none;
  padding: 10px;
  margin-top: 1rem;
  color: white;
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(200, 200, 200);
  color: white;
}

.button:active {
  background-color: rgb(129, 129, 129);
  color: white;
}

.input {
  display: grid;
  width: fit-content;
}
